.Cafecard {
  background: #f8f8f8;
}
.coffee-places {
  margin-top: 100px;
  padding: 100px 170px;
}
.Cafecard section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  grid-gap: 30px;
  margin-left: 0;
  margin-right: 0;
}
.card1 {
  text-align: left;
}
.Cafecard h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  opacity: 0.4;
}
.Cafecard h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.Cafecard h6 {
  font-size: 24px;
  font-weight: 700;
}
.Cafecard h7 {
  font-size: 13px;
  font-weight: 700;
}
.Cafecard p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.Cafecard img {
  width: 100%;
  aspect-ratio: 1/1;
}
.Cafecard button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  background: #4b3b5d;
  color: white;
  margin-top: 24px;
  padding: 16px 32px;
  width: 100%;
}
.Cafecard a {
  text-decoration: none;
  color: white;
}

.cafe1 {
  margin: 24px;
}
@media (max-width: 1200px) {
  .coffee-places {
    margin-top: 50px;
    padding: 75px 20px;
    padding-bottom: 25px;
  }
}
@media (max-width: 920px) {
  .coffee-places {
    margin-top: 50px;
    padding: 55px 20px;
    padding-bottom: 15px;
  }
  .Cafecard section {
    grid-gap: 20px;
  }
}
@media (max-width: 576px) {
  .coffee-places {
    margin-top: 25px;
    padding: 25px 10px;
    padding-bottom: 5px;
  }
  .Cafecard section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Cafecard h2 {
    font-size: 14px;
  }
  .Cafecard h3 {
    font-size: 30px;
  }
  .Cafecard p {
    font-size: 14px;
  }
  .Cafecard button {
    font-size: 12px;
    padding: 10px 24px;
  }
}
