.Footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.5),
      rgba(39, 32, 68, 0.5)
    ),
    url(/src/img/lk-street.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-top: 100px;
  margin-bottom: 0;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-gap: 64px;
}
.Footer h5 {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.content1 {
  text-align: left;

  margin: 100px 71px;
}
.Footer ul {
  padding: 0;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
}
.Footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Footer a {
  text-decoration: none;
  color: white;
}
.Footer p {
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.Footer .credit {
  font-size: 10px;
  margin-bottom: 0;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .Footer {
    grid-gap: 30px;
  }
}
@media (max-width: 800px) {
  .footer-content {
    grid-gap: 20px;
  }
  .content1 {
    margin: 50px 30px;
  }
}
@media (max-width: 576px) {
  .footer-content {
    grid-gap: 10px;
  }
  .content1 {
    margin: 50px 20px;
  }
}
