.Header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./thanh-pho-long-khanh-suc-song-cua-mot-thanh-pho-tre-va-xanh-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  color: white;
  padding-top: 286px;
  padding-bottom: 286px;
}
.content h3 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 5px;
}
.content h1 {
  font-size: 96px;
}
.content h4 {
  font-weight: 300;
  font-size: 40px;
}
